* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #FFF;
  --color-primary: #450202;
  --color-secondary: #d1c815;
  --color-secondary-dark: ##c9c110;
  --color-background: #f7f8fa;
  --color-text: #808080;
  --color-title: #494d4b;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--color-background);
}

body, input, textarea, select, button {
  font: 500 1rem Inter, sans-serif;
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(---color-title);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}